td {
  border: 1px solid #171717;
  padding: 15px;
}
thead {
  font-size: 18px;
  font-weight: bold;
  color: #171717;
}

thead td {
  border: 1px solid #171717;
  background-color: #e4e4e6;
}

thead tr {
  border: 1px solid #171717;
}
